#  CSTR fault detection

In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import cm
import scipy.io

In [23]:
mat = scipy.io.loadmat('cstr_fault_time_series.mat')

In [27]:
fault_label=mat["fault_labels"].flatten()
data = pd.DataFrame({'C_inlet':mat["data"][:, 0], 'T_inlet':mat["data"][:, 1] \
                     ,'C_reactor':mat["data"][:, 2], 'T_reactor':mat["data"][:, 3] \
                     ,'Q_cool':mat["data"][:, 4], 'T_cool_in':mat["data"][:, 5]\
                     ,'T_cool_out':mat["data"][:, 6],'fault':fault_label
                    
                    })
data.head()

,C_inlet,C_reactor,Q_cool,T_cool_in,T_cool_out,T_inlet,T_reactor,fault
0,1.027647,0.099224,148.841248,348.638761,416.686204,350.360361,430.879667,0
1,1.027779,0.094646,157.013774,348.713451,417.987404,350.299300,432.911189,0
2,1.026808,0.108838,154.560242,349.188551,414.600037,349.971868,429.661746,0
3,1.026215,0.097684,157.220063,348.729069,416.656083,350.640629,432.256645,0
4,1.026132,0.100689,162.379105,348.849656,416.179071,350.595431,431.304828,0